body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: white;
  background-color:#252839;
  background-image: url(../imgLinks/background12.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

a,
a:hover {
  text-decoration: none;
}

/* Configuração da barra de navegação*/

.wrapper-header div {
  max-width: 600px;
  margin: 0 auto;
}

.logo-container {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.home {
  padding: 4px 0 4px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home li {
  position: relative;
  list-style: none;
}

.home li a {
  position: relative;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.home li a::before {
  content: attr(data-text);
  position: absolute;
  width: 1;
  color: var(--color);
  overflow: hidden;
  transition: 1s;
  border-right: 4px solid var(--color);
  -webkit-text-stroke: 1px var(--color);
  filter: drop-shadow(0 0 25px var(--color));
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container ul {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.container ul li {
  position: relative;
  list-style: none;
}

.container ul li a {
  position: relative;
  font-size: 2em;
  line-height: 1em;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

.container ul li a::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  color: var(--color);
  overflow: hidden;
  transition: 1s;
  border-right: 4px solid var(--color);
  -webkit-text-stroke: 1px var(--color);
}

.container ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px var(--color));
}

/* Configuração do conteúdo da página*/


main {
  max-width: 600px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}

.h1 {
  display: block;
  text-align: center;
  color: #ccc;
}

main div {
  display: inline-block;
}

.img-container div {
  display: inline-block;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border-radius: 10px;
  background-color:rgba(204, 204, 204, 0.3);
  margin: 10px;
}

main div a img {
  max-width: 270px;
  margin: 0 auto;
  display: inline-block;
}

/* responsive */
@media (max-width: 600px) {
  
  main {
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  main a img {
    max-width: 200px;
    margin: 0 auto;
    display: inline-block;
  }
}
