body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #000;
}

a,
a:hover {
  text-decoration: none;
}

.wrapper-header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  align-items: center;
  justify-content: center;
}

.wrapper-header div {
  max-width: 960px;
  margin: 0 auto;
}

.logo-container {
  max-width: 960px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  align-items: center;
}

.logo-container div h1 a {
  text-decoration: none;
  color: black;
}

main {
  max-width: 1200px;
  margin: 0 auto;
  display: block;
  justify-content: center;
  align-items: center;
}

main a img {
  max-width: 280px;
  margin: 0 auto;
  display: inline-block;
}

/* responsive */
@media (max-width: 600px) {
  
  main {
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  main a img {
    max-width: 200px;
    margin: 0 auto;
    display: inline-block;
  }
}
